/* General Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Space Grotesk';
  background-color: var(--dark-color);
}

:root {
  --dark-color: #151515;
  --neon-green: #4ee1a0;
  --dark-grey: #242424;
  --light-grey: #d9d9d9;
  --white: #fff;
}

/* Utility Classes */

.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

/* Header */

.header {
  background-color: transparent;
  padding: 2rem;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .social-links {
  display: flex;
  gap: 2rem;
}

.header .name {
  color: var(--White, #fff);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
  letter-spacing: -0.444px;
}
