/* General Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Space Grotesk';
  background-color: var(--dark-color);
  position: relative;
  overflow-x: hidden;
}

:root {
  --dark-color: #151515;
  --neon-green: #4ee1a0;
  --dark-grey: #242424;
  --light-grey: #d9d9d9;
  --white: #fff;
}

/* Utility Classes */

.container {
  max-width: 1150px;
  padding: 0 2rem;
  margin: 0 auto;
}

.divider {
  background-color: white;
  width: 100%;
  height: 1px;
  margin-top: 13rem;
  padding: 0 !important;
}

/* Profile Image */

.profile {
  position: absolute;
  z-index: -1;
  width: 450px;
  top: 0px;
  right: 0px;
}

.circle {
  position: absolute;
  bottom: 0;
  top: 500px;
  left: 635px;
}

/* Header */

.header {
  background-color: transparent;
  padding: 2rem 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .social-links {
  display: flex;
  gap: 2rem;
}

.header .name {
  color: var(--White, #fff);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
  letter-spacing: -0.444px;
}

/* Hero */

.ring1 {
  position: absolute;
  top: 140px;
  left: -240px;
}

.hero {
  position: relative;
}

.hero h1 {
  color: var(--white);
  font-family: 'Space Grotesk';
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 100% */
  letter-spacing: -2.5px;
  margin-top: 7rem;
  max-width: 706px;
}

.adam {
  position: relative;
  display: inline-block;
}

.adam::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: var(--neon-green);
  z-index: -1;
}

.hero p {
  width: 445px;
  color: var(--Grey, #d9d9d9);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Space Grotesk';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  margin-top: 3rem;
}

.btn {
  position: relative;
  display: inline-block;
  margin-top: 4.4rem;
  color: var(--White, #fff);
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: 2.286px;
  transition: color 0.3s ease;
}

.btn:hover {
  color: var(--neon-green);
}

.btn::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--neon-green);
  z-index: -1;
}

/* Experience */
.experience-wrapper {
  position: relative;
  height: 300px;
  /* overflow-x: hidden; */
}
.experience {
  display: grid;
  width: 100%;
  gap: 30px;
  grid-template-columns: 352px 352px 352px;
  grid-template-rows: 98px 98px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.experience h2 {
  color: var(--White, #fff);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Heading (L) */
  font-family: 'Space Grotesk';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.5px;
}

.experience p {
  color: var(--Grey, #d9d9d9);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body */
  font-family: 'Space Grotesk';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

.experience .n {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.ring2 {
  position: absolute;
  right: -430px;
  bottom: 20px;
}

.divider1 {
  background-color: white;
  width: 98%;
  height: 1px;
  margin: 0 auto;
  display: none;
}

/* Projects */

.projects {
  margin-top: 6rem;
}

.projects h2 {
  color: var(--White, #fff);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Heading (XL) */
  font-family: 'Space Grotesk';
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 100% */
  letter-spacing: -2.5px;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: 540px 540px;
  grid-template-rows: 487px 487px 487px;
  grid-row-gap: 69px;
  grid-column-gap: 24px;
  margin-top: 117px;
}

.proj-info {
  margin-bottom: 68px;
}

.img-container {
  width: 545px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
}

.btn-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 3.2rem;
}

.img-container:hover .btn-container {
  display: flex;
}

.img-container:hover img {
  opacity: 0.2;
}

.btn-proj {
  position: relative;
  display: inline-block;
  /* margin-top: 2rem; */
  color: var(--White, #fff);
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  transition: color 0.3s ease;
}

.btn-proj:hover {
  color: var(--neon-green);
}

.btn-proj::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--neon-green);
  z-index: -1;
}

.btn-container:hover + img,
.btn-container:hover img {
  opacity: 1;
}

.proj h4 {
  color: var(--White, #fff);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Heading (M) */
  font-family: 'Space Grotesk';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  margin-top: 14px;
}

.proj .lang-used {
  display: flex;
  gap: 10px;
}

.proj .lang-used p {
  color: var(--Grey, #d9d9d9);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body */
  font-family: 'Space Grotesk';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

.projects {
  margin-bottom: 139px;
}

/* Contacts */

.contacts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-grey);
  width: 100vw;
  height: 675px;
}

.contacts {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}

.contact-text {
  width: 445px;
}

.contact-text h2 {
  color: var(--White, #fff);
  font-feature-settings: 'liga' off, 'clig' off;

  /* Heading (XL) */
  font-family: 'Space Grotesk';
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 100% */
  letter-spacing: -2.5px;
}

.contact-text p {
  color: var(--Grey, #d9d9d9);
  font-feature-settings: 'liga' off, 'clig' off;

  /* Body */
  font-family: 'Space Grotesk';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  margin-top: 25px;
}

.form-group {
  margin: 16px 0;
  width: 445px;
}

.ring3 {
  position: absolute;
  top: 230px;
  width: 530px;
  left: -340px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.contacts input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  padding-bottom: 1rem;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  color: var(--White, #fff);
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.222px;
}
.contacts input::placeholder,
textarea::placeholder {
  margin-left: 3px;
}

.contacts textarea {
  height: 100px;
  width: 445px !important;
  resize: none;
}

.contacts input:focus,
.contacts textarea:focus {
  outline: 0;
}

.btn-sub {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  color: var(--White, #fff);
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: 2.286px;
  transition: color 0.3s ease;
  background-color: transparent;
  border: none;
}

.btn-sub:hover {
  color: var(--neon-green);
}

.btn-sub::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--neon-green);
  z-index: 1;
}

.divider2 {
  background-color: white;
  width: 100%;
  height: 1px;
  margin-top: 5rem;
  padding: 0 !important;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.footer-name {
  color: var(--White, #fff);
  font-family: 'Space Grotesk';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
  letter-spacing: -0.444px;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

/* Media Queries */

/* Tablet */

@media (max-width: 1024px) {
  .container {
    max-width: 768px; /* Smaller width for tablets */
    padding: 0 18px; /* Adjust padding */
    overflow: hidden;
  }

  .hero h1 {
    margin-top: 3.5rem;
    color: var(--White, #fff);
    font-family: 'Space Grotesk';
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 100% */
    letter-spacing: -2.045px;
    width: 443px;
  }

  .profile {
    width: 322px;
    height: 600px;
  }

  .divider {
    width: 100%;
    margin-top: 5rem;
  }

  .ring1 {
    left: -300px;
    top: 90px;
  }

  .circle {
    top: 470px;
    left: 696px;
  }

  .experience {
    grid-template-columns: 353px 353px;
    grid-template-rows: 98px 98px 98px;
  }

  .experience-wrapper {
    height: 460px;
    overflow-x: hidden;
  }

  .ring2 {
    bottom: 5px;
    right: -360px;
  }

  /* Projects */

  .btn-container {
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: start;
    gap: 20px;
  }

  .projects-grid {
    grid-template-columns: 342px 342px;
    grid-template-rows: 398px 398px 398px;
    grid-row-gap: 60px;
    grid-column-gap: 21px;
  }

  .proj .img-container {
    width: 344px;
    height: 253px;
  }

  .proj h4 {
    color: var(--White, #fff);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Heading (M) */
    font-family: 'Space Grotesk';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
  }

  .proj p {
    color: var(--Grey, #d9d9d9);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Body */
    font-family: 'Space Grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
  }

  .proj-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* Contacts */

  .contacts-container {
    height: 802px;
  }
}

/* Mobile */

@media (max-width: 599px) {
  .container {
    overflow: hidden;
  }
  .container {
    width: 100%;
    padding: 0 12px;
    max-width: 400px;
  }

  .header-flex {
    flex-direction: column;
    gap: 1rem;
  }

  .profile {
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 174px;
    height: 383px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    margin-top: 18rem;
    color: var(--White, #fff);
    text-align: center;
    font-family: 'Space Grotesk';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    letter-spacing: -1.136px;
    width: 343px;
  }

  .hero p {
    color: var(--Grey, #d9d9d9);
    text-align: center;
    font-family: 'Space Grotesk';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    width: 343px;
    margin-top: 2rem;
  }

  .hero .name {
    color: var(--White, #fff);
    font-family: 'Space Grotesk';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.333px;
  }

  .hero .social-links {
    width: 170px;
    height: 30px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .header-flex {
    gap: 1rem;
  }

  .btn {
    margin-top: 2rem;
  }

  .circle {
    left: 320px;
    top: 250px;
  }

  .ring1 {
    left: -200px;
    z-index: -1;
    top: 130px;
  }
  .experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
  }

  .experience-wrapper {
    height: 900px;
  }

  .ring2 {
    right: -240px;
    height: 125px;
  }

  .divider1 {
    margin-top: 1rem;
    display: block;
  }

  /* Project  */

  .projects {
    margin-top: 0 !important;
  }

  .projects-header h2 {
    color: var(--White, #fff);
    font-family: 'Space Grotesk';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    letter-spacing: -1.136px;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
  }

  .proj {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
